# Python
*.pyc
*~
__pycache__

# Env
.env 
myvenv/
venv/

# Datenbank
db.sqlite3

# Static Ordner im Projetverzeichnis
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
